/*Font importation*/
@font-face {
    font-family: customFont;
    src: url(cusfont.ttf)
}
@font-face {
    font-family: pFont;
    src: url(pfont.ttf)
}

/* Highest level container, controls layout and default styles */
body {
    margin: 0;
}

fieldset {
    border-width: 0px;
}

#container {
    display: flex;
    background-image: url(images/background.jpg);
    background-origin:content-box;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
    justify-content: flex-end;
    padding: 0%;
}

#gradient {
    min-height: 100vh;
    min-width: 10vh;
    background-image: linear-gradient(to left, rgb(249,249,249), rgb(0,0,0,0));
}


/* Form input styling */
input:valid {
    border-color: green;

}
input:invalid {
    border-color: red;
}


input, textarea, select{
    padding: 0;
    margin: 0;
    margin-bottom: 2vh;
    height: 3vh;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    color: rgb(80, 101, 78);
}

legend {
    font-size: 35px;
    color: rgb(64, 64, 64);
    padding-left: 0;
    margin-bottom: 2vh;
    font-family: customFont;
}

button {
    background-color: rgba(60, 135, 78, 1);
    padding: 5px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgba(0, 112, 28, 0.13);
    font-weight: bold;
    font-size: small;
}

/* Left side of page, image related CSS below */
#logohold {
    display: flex;
    flex-direction: column;
}

.epiclogo{
    height: 25vh;
    width: 20vh;
    margin-top: 5vh;
    margin-left:2vh;
    margin-right: 4vh;
}


/* Right side of page, form CSS below*/
#formcont{
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    height: 100vh;
    width: 75%;
    padding-left: 2%;
}

#twosidecont {
display: flex;
}

.desc {
    width: 70vh;
    font-family: pFont;
    font-style: italic;
    color: rgb(64, 64, 64);
    font-size: large;
    margin-left: 1.5vh;
    margin-bottom: 6vh;
}

.form {
    display: flex;
}

.lside {
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
    float: left;
}
.rside {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 5vh;
    margin-right:5vh
    width: 25vh;
}

.line {
    min-width: 100vh;
    min-height: 2px;
    background-color: rgb(172, 172, 172);
    margin-bottom: 2vh;
}

.but {
    display: flex;

}

.login {
    margin-left: 1.5vh;
    font-size: small;
    font-weight: lighter;
    font-family: customFont;
}
